<ion-header>
  <ion-toolbar>
    <ion-title>Record Audio</ion-title>
    <ion-icon slot="end" name="close" style="font-size: 24px;" (click)="close()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <ion-card>
    <ion-card-content style="height:70px;padding-top: 28px;">
      <ion-item *ngIf="status=='recording'" class="ion-text-center" lines="none">
        <ion-label class="animated flash slower infinite" style="font-style: italic;">Recording...</ion-label>
      </ion-item>
      <ion-item *ngIf="status=='stop'" class="ion-text-center" lines="none">
        <ion-label style="font-style: italic;">Stopped</ion-label>
      </ion-item>
      <ion-item *ngIf="status=='play'" class="ion-text-center" lines="none">
        <ion-label class="animated flash slower infinite" style="font-style: italic;">Playing...</ion-label>
      </ion-item>
    </ion-card-content>
    <ion-card-content class="ion-no-padding ion-padding-horizontal">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-icon *ngIf="status=='start' || status=='stop'" name="radio-button-on-outline" color="danger"
              (click)="recording()" style="font-size:50px;"></ion-icon>
            <ion-icon *ngIf="status=='recording'" name="stop-circle-outline" color="danger" (click)="stoprecord()"
              style="font-size:50px;"></ion-icon>
            <ion-icon *ngIf="status=='play'" name="radio-button-on" style="color:#bbb;font-size:50px;"></ion-icon>
          </ion-col>
          <ion-col>
            <ion-icon *ngIf="status=='start' || status=='recording'" name="play" style="color:#bbb;font-size:50px;">
            </ion-icon>
            <ion-icon *ngIf="status=='stop'" name="play" style="font-size:50px;" (click)="play()"></ion-icon>
            <ion-icon *ngIf="status=='play'" name="stop" style="font-size:50px;" (click)="stop()"></ion-icon>
          </ion-col>
          <ion-col>
            <ion-icon *ngIf="status=='start' || status=='recording' || status=='play'" name="cloud-upload"
              style="color:#bbb;font-size:40px;padding-top:6px;"> </ion-icon>
            <ion-icon *ngIf="status=='stop'" name="cloud-upload" style="font-size:40px;padding-top:6px;" (click)="upload()"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-no-padding">
            <ion-note *ngIf="status!='recording'">Record</ion-note>
            <ion-note *ngIf="status=='recording'">Stop</ion-note>
          </ion-col>
          <ion-col class="ion-no-padding">
            <ion-note *ngIf="status!='play'">Play</ion-note>
            <ion-note *ngIf="status=='play'">Stop</ion-note>
          </ion-col>
          <ion-col class="ion-no-padding">
            <ion-note>Upload</ion-note>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>