<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button><img src="assets/img/menu.svg" width="22"></ion-menu-button>
        </ion-buttons>
        <ion-title>Campaigns</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" style="background-color:#ecf0f1;">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <div class="ion-padding" *ngIf="loading" style="margin-top:-3px;">
        <ion-skeleton-text animated style="border-radius:8px;height:380px;margin-bottom:17px"></ion-skeleton-text>
        <ion-skeleton-text animated style="border-radius:8px;height:380px;margin-bottom:17px"></ion-skeleton-text>
        <ion-skeleton-text animated style="border-radius:8px;height:380px;margin-bottom:17px"></ion-skeleton-text>
    </div>

    <div *ngFor="let db of data">
        <ion-card *ngIf="db.hide_in_app==0 && db.status=='active'">
            <ion-card-content class="ion-no-padding" style="padding:10px 18px">
                <table width="100%">
                    <tr>
                        <td>
                            <ion-item *ngIf="db.is_private==0" class="ion-no-padding" lines="none">
                                <table width="100%">
                                    <tr>
                                        <td (click)="openBrowser(db.share_url)">
                                            <div style="font-size: 24px;font-weight: bold;">{{db.name}}</div>
                                        </td>
                                        <td width="1"></td>
                                        <td width="1">
                                            <ion-icon name="share-social" slot="end" style="font-size: 30px;"
                                                (click)="share(db.share_url,db.id)">
                                            </ion-icon>
                                        </td>
                                    </tr>
                                </table>
                            </ion-item>
                            <ion-item *ngIf="db.is_private==1" class="ion-no-padding" lines="none"
                                style="padding: 10px 0;" (click)="openIAB(db.name,db.private_share_url)">
                                <div style="font-size: 24px;font-weight: bold;">{{db.name}}</div>
                            </ion-item>
                        </td>
                    </tr>
                </table>
            </ion-card-content>
            <ion-card-content class="ion-no-padding" style="border-bottom:1px solid #bbb;border-top:1px solid #bbb;">
                <img *ngIf="db.setting.socialmedia.thumbnail" [src]="db.setting.socialmedia.thumbnail">
                <img *ngIf="!db.setting.socialmedia.thumbnail" [src]="'assets/img/noimage.png'">
            </ion-card-content>
            <ion-card-content class="ion-no-padding ion-padding-horizontal">
                <ion-grid class="ion-no-padding ion-padding-vertical">
                    <ion-row>
                        <ion-col>
                            <div *ngIf="db.analytic.view">View : {{db.analytic.view}}</div>
                            <div *ngIf="!db.analytic.view">View : 0</div>
                        </ion-col>
                        <ion-col>
                            <div *ngIf="db.analytic.lead">Leads : {{db.analytic.lead}}</div>
                            <div *ngIf="!db.analytic.lead">Leads : 0</div>
                        </ion-col>
                        <ion-col>
                            <div *ngIf="db.analytic.conversion">CR : {{db.analytic.conversion}}</div>
                            <div *ngIf="!db.analytic.conversion">CR : 0</div>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card-content>
        </ion-card>

    </div>

</ion-content>