ion-content{
    --background: #fff url(assets/img/background.jpeg) no-repeat center center / cover;
    //height: 100%;
  }
  
  ion-input {
    --background: #fff;
    --color: #333;
    --placeholder-color: #999;
    border-radius: 6px;
    padding-left: 10px !important;
  }
  
  ion-item {
    margin-bottom: 12px;
  }
  
  ion-button {
    font-size: 14px;
  }
  
  .btn_login {
    width: 100px;
    --padding-top: 16px;
    --padding-bottom: 16px;
  }
  