<ion-content class="ion-text-center">
  <div class="bg">
    <div style="height: 160px;">
      <span style=" display: inline-block; height: 100%; vertical-align: middle;"></span>
      <img class="ion-margin" [src]="logo" width="102" style="margin: 40px 0 12px 0;vertical-align:middle;">
    </div>

    <ion-card color="primary" *ngIf="card_signin">
      <ion-card-header class="ion-text-center">
        <ion-card-title style="font-size: 24px;font-weight:500;padding-top: 8px;">Forgot Password</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <form [formGroup]="form_signin">
          <ion-item class="ion-no-padding" color="primary">
            <ion-icon name="mail" slot="start" style="font-size: 24px;"></ion-icon>
            <ion-input type="email" formControlName="email" placeholder="Email"></ion-input>
          </ion-item>

          <ion-item class="ion-no-padding" color="primary">
            <ion-button color="light" slot="start" fill="clear" routerLink="/signin" routerDirection="back">Login?
            </ion-button>
            <ion-button color="light" slot="end" class="ion-no-margin btn_login" shape="round" (click)="submit_send()"
              [disabled]="loading_submit">
              <ion-spinner *ngIf="loading_submit" color="dark" name="crescent" style="font-size: 66px;"></ion-spinner>
              <div *ngIf="!loading_submit">Send</div>
            </ion-button>
          </ion-item>

        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>