<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button><img src="assets/img/menu.svg" width="22"></ion-menu-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">

  <div class="content_top">
    <div class="avatar" [style.backgroundImage]="'url(' + avatar + ')'"></div>
    <div *ngIf="data.first_name" class="name">{{data.first_name}} {{data.last_name}}</div>
    <div *ngIf="!data.first_name" class="name">{{data.name}}</div>
    <div class="email">{{data.email}}</div>
    <ion-skeleton-text *ngIf="loading" animated style="margin:auto;height:18px;margin-bottom:10px;width:160px;">
    </ion-skeleton-text>
    <ion-skeleton-text *ngIf="loading" animated style="margin:auto;height:12px;margin-bottom:4px;width:160px;">
    </ion-skeleton-text>
  </div>

  <ion-card>
    <ion-card-content class="ion-no-padding ion-padding-vertical">
      <ion-item lines="none" routerLink (click)="profile_detail()">
        <ion-icon class="ikon_start profile" slot="start" name="person"></ion-icon>
        <ion-label>Update My Details</ion-label>
      </ion-item>
      <ion-item lines="none" routerLink (click)="profile_password()">
        <ion-icon class="ikon_start password" slot="start" name="key"></ion-icon>
        <ion-label>Update Password</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-button color="danger" fill="clear" class="ion-text-center ion-no-margin" (click)="logout()"
    style="margin-top: 16px;">Logout</ion-button>

</ion-content>