ion-content {
  --background: #ecf0f1;
}

.content_top {
  background-color: #fff;
  min-height: 160;
  padding: 20px 0;
  .avatar {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #bbb;
    border-radius: 50%;
    height: 130px;
    margin: 16px auto;
    width: 130px;
  }
  .name {
    font-size: 22px;
    font-weight: bold;
  }
  .email {
    color: #444;
  }
}

ion-card {
  --background: #fff;
  ion-item{
      margin-bottom: 6px;
      margin-top: 6px;
  }
  ion-label{
      color: #707070;
      font-size: 16px;
  }
  .ikon_start {
    border-radius: 4px;
    color: #fff;
    padding: 6px;
  }
  .profile {
    background-color: #2ecc71;
  }
  .password {
    background-color: #3498db;
  }

  .ikon_end{
      color: #aaa;
      font-size: 16px;
  }
}
