<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{campaign_name}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="doRefresh($event)">
        <ion-icon slot="icon-only" name="refresh"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content on-swipe-down="doRefresh($event)">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div style="height: 6px;"></div>

  <iframe id="myiframe" [src]="url" style="height:100%;width:100%;border: none;" (load)="test()"></iframe>

</ion-content>