<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="content_top">
    <div class="avatar" [style.backgroundImage]="'url(' + avatar + ')'"></div>
    <div *ngIf="user_first_name!='null'" class="name">{{user_first_name}} {{user_last_name}}</div>
    <div *ngIf="user_first_name=='null'" class="name">{{user_name}}</div>
    <div class="email">{{user_email}}</div>
  </div>

  <div class="edit_text">EDIT MY PROFILE</div>

  <ion-card>
    <ion-card-content class="ion-no-padding ion-padding-vertical">
      <form [formGroup]="myForm">
        <ion-item lines="none">
          <ion-label position="stacked">First Name</ion-label>
          <ion-input type="text" formControlName="first_name"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-label position="stacked">Last Name</ion-label>
          <ion-input type="text" formControlName="last_name">
          </ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-label position="stacked">Email</ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>
      </form>
    </ion-card-content>
    <ion-card-content>
      <div style="color: #444;">Profile Picture</div>
      <div class="avatar" [style.backgroundImage]="'url(' + avatar + ')'" (click)="update_photo()"></div>
      <div style="font-size: 12px;">Hint : Tap on photo above to choose new profile picture.</div>
    </ion-card-content>
    <ion-card-content class="ion-text-right">
      <ion-button fill="clear" style="height:100px;width:100px" (click)="cancel()">Cancel</ion-button>
      <ion-button style="width:160px" (click)="save()">Save</ion-button>
    </ion-card-content>
  </ion-card>

  <br>

</ion-content>