ion-item {
  --transition: unset;
}

.active {
  --color: var(--ion-color-primary);
  --background: rgba(var(--ion-color-primary-rgb), 0.12);
  --background-hover: rgba(var(--ion-color-primary-rgb), 0.16);
  --background-focused: rgba(var(--ion-color-primary-rgb), 0.24);

  ion-icon {
    color: inherit;
  }
}

//----------
hr{
  background-color: #3498db;
  margin: 0;
}
