<ion-app [class.dark-theme]="dark">
  <ion-split-pane contentId="main-content">

    <ion-menu contentId="main-content" type="overlay" swipeGesture="true">

      <ion-header>
        <ion-toolbar color="primary">
          <table>
            <tr>
              <td style="padding-left:14px">
                <img [src]="minicon" width="32">
              </td>
              <td style="padding-left:10px">{{app_name}}</td>
            </tr>
          </table>
        </ion-toolbar>
      </ion-header>

      <ion-content color="primary">
        <ion-list lines="none">
          <!-- <ion-menu-toggle autoHide="true"> -->
          <ion-list-header color="primary">
            <ion-item class="ion-no-padding" color="primary" style="padding: 6px 0;" detail="false">
              <ion-avatar slot="start">
                <img [src]="avatar">
              </ion-avatar>
              <div *ngIf="data_profile.first_name" style="text-transform: none;">{{data_profile.first_name}}
                {{data_profile.last_name}}</div>
              <div *ngIf="!data_profile.first_name" class="name">{{data_profile.name}}</div>
            </ion-item>
          </ion-list-header>

          <!-- </ion-menu-toggle> -->
          <ion-menu-toggle autoHide="true" color="primary">
            <ion-item routerLink="/home" routerLinkActive="active" routerDirection="root" detail="false"
              color="primary">
              <ion-icon slot="start" name="speedometer" style="font-size: 24px;"></ion-icon>
              <ion-label>Dashboard</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <hr>

          <ion-item detail="false" color="primary" (click)="set_show_workspaces()" style="color:red !important">
            <ion-icon slot="start" name="briefcase" style="font-size: 24px;"></ion-icon>
            <ion-label>My Workspaces</ion-label>
            <ion-icon *ngIf="show_workspaces==false" name="chevron-down" slot="end"
              style="font-size:16px;font-weight: bold;">
            </ion-icon>
            <ion-icon *ngIf="show_workspaces==true" name="chevron-up" slot="end"
              style="font-size:16px;font-weight: bold;">
            </ion-icon>
          </ion-item>

          <div *ngIf="show_workspaces==true">
            <!--- WORKSPACES --->
            <div *ngFor="let db of data_workspaces" style="background-color:#745fff;overflow:hidden;">
              <ion-item color="primary" class="animated slideInDown faster" (click)="load_teams(db.id)">
                <div slot="start" style="width: 24px;"></div>
                <!-- <ion-label>&#8259; {{db.name}}</ion-label> -->
                <ion-label *ngIf="workspace_id!=db.id">&#8259; {{db.name}}</ion-label>
                <ion-label *ngIf="workspace_id==db.id"
                  style="background-color: #a29bfe;border-radius: 8px;padding: 2px 4px;">&#8259; {{db.name}}</ion-label>
              </ion-item>

              <!--- TEAMS --->
              <div *ngFor="let dbt of data_teams" style="background-color:#745fff;overflow:hidden;">
                <ion-item *ngIf="db.id==workspace_id" color="primary" class="animated slideInDown faster"
                  (click)="load_projects(dbt.id)">
                  <div slot="start" style="width: 38px;"></div>

                  <ion-label *ngIf="team_id!=dbt.id">&#8259; {{dbt.name}}</ion-label>
                  <ion-label *ngIf="team_id==dbt.id"
                    style="background-color: #a29bfe;border-radius: 8px;padding: 2px 4px;">&#8259; {{dbt.name}}
                  </ion-label>
                </ion-item>

                <!--- PROJECTS --->
                <ion-menu-toggle autoHide="true" color="primary">
                  <div *ngFor="let dbp of data_projects" style="background-color:#745fff;overflow:hidden;">
                    <ion-item *ngIf="db.id==workspace_id && dbt.id==team_id" color="primary"
                      class="animated slideInDown faster" (click)="goto_campaigns(dbp.id)" detail="false">
                      <div slot="start" style="width: 54px;"></div>

                      <ion-label *ngIf="project_id!=dbp.id">&#8259; {{dbp.name}}</ion-label>
                      <ion-label *ngIf="project_id==dbp.id"
                        style="background-color: #a29bfe;border-radius: 8px;padding: 2px 4px;">&#8259; {{dbp.name}}
                      </ion-label>
                    </ion-item>
                  </div>
                </ion-menu-toggle>
              </div>
            </div>
          </div>

          <hr>

          <ion-menu-toggle *ngIf="permissions.contenthub!='disabled'" autoHide="true" color="primary">
            <ion-item color="primary" routerLink="/contenthub" routerLinkActive="active" routerDirection="root"
              detail="false">
              <ion-icon slot="start" name="images" style="font-size: 24px;"></ion-icon>
              <ion-label>
                Content Hub
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <hr>
 
          <ion-menu-toggle autoHide="true" color="primary">
            <ion-item color="primary" routerLink="/settings" routerLinkActive="active" routerDirection="root"
              detail="false">
              <ion-icon slot="start" name="settings" style="font-size: 24px;"></ion-icon>
              <ion-label>
                Settings
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>

    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>

  </ion-split-pane>

</ion-app>