<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="content_top">
    <div class="avatar" [style.backgroundImage]="'url(' + avatar + ')'"></div>
    <div *ngIf="user_first_name!='null'" class="name">{{user_first_name}} {{user_last_name}}</div>
    <div *ngIf="user_first_name=='null'" class="name">{{user_name}}</div>
    <div class="email">{{user_email}}</div>
  </div>

  <div class="edit_text">CHANGE PASSWORD</div>

  <ion-card>
    <ion-card-content class="ion-no-padding ion-padding-vertical">
      <form [formGroup]="myForm">
        <ion-item lines="none">
          <ion-label position="stacked">Old Password</ion-label>
          <div class="inp_pwd">
            <table width="100%">
              <tr>
                <td>
                  <ion-input type="{{input_type1}}" formControlName="password_old">
                  </ion-input>
                </td>
                <td style="padding-top:5px;">
                  <ion-icon *ngIf="show_pass1==false" class="eye" name="eye" slot="end" color="medium"
                    (click)="eye_clicked1()">
                  </ion-icon>
                  <ion-icon *ngIf="show_pass1==true" class="eye" name="eye-off" slot="end" color="medium"
                    (click)="eye_clicked1()"> </ion-icon>
                </td>
              </tr>
            </table>
          </div>
        </ion-item>
        <ion-item lines="none">
          <ion-label position="stacked">New Password</ion-label>
          <div class="inp_pwd">
            <table width="100%">
              <tr>
                <td>
                  <ion-input type="{{input_type2}}" formControlName="password_new">
                  </ion-input>
                </td>
                <td style="padding-top:5px;">
                  <ion-icon *ngIf="show_pass2==false" class="eye" name="eye" slot="end" color="medium"
                    (click)="eye_clicked2()">
                  </ion-icon>
                  <ion-icon *ngIf="show_pass2==true" class="eye" name="eye-off" slot="end" color="medium"
                    (click)="eye_clicked2()"> </ion-icon>
                </td>
              </tr>
            </table>
          </div>
        </ion-item>
        <ion-item lines="none">
          <ion-label position="stacked">Confirm New Password</ion-label>
          <div class="inp_pwd">
            <table width="100%">
              <tr>
                <td>
                  <ion-input type="{{input_type3}}" formControlName="password_cnf">
                  </ion-input>
                </td>
                <td style="padding-top:5px;">
                  <ion-icon *ngIf="show_pass3==false" class="eye" name="eye" slot="end" color="medium"
                    (click)="eye_clicked3()">
                  </ion-icon>
                  <ion-icon *ngIf="show_pass3==true" class="eye" name="eye-off" slot="end" color="medium"
                    (click)="eye_clicked3()"> </ion-icon>
                </td>
              </tr>
            </table>
          </div>
        </ion-item>
      </form>
    </ion-card-content>

    <ion-card-content class="ion-text-right">
      <ion-button fill="clear" style="height:100px;width:100px" (click)="cancel()">Cancel</ion-button>
      <ion-button style="width:160px" (click)="save()" [disabled]="loading_submit">
        <div *ngIf="!loading_submit" style="color: #fff;">Set Password</div>
        <ion-spinner *ngIf="loading_submit" color="light" name="crescent" style="font-size: 66px;">
        </ion-spinner>
      </ion-button>
    </ion-card-content>
  </ion-card>

  <br>

</ion-content>