ion-content {
  --background: #ecf0f1;
}

div {
  color: #707070;
}

.content_top {
  background-color: #fff;
  min-height: 160;
  padding: 20px;
  text-align: center;
  .avatar {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #bbb;
    border-radius: 50%;
    height: 130px;
    margin: 16px auto;
    width: 130px;
  }
  .name {
    font-size: 22px;
    font-weight: bold;
  }
  .email {
    color: #444;
  }
}

.edit_text {
  padding: 22px 18px 0 18px;
  color: #666;
  font-size: 12px;
}

ion-card {
  --background: #fff;
  ion-item {
    color: #444;
    margin-bottom: 12px;
  }
  .avatar {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #bbb;
    border-radius: 50%;
    height: 100px;
    margin: 16px 0;
    width: 100px;
  }
}

//=====
ion-input {
  --background: #fff;
  --color: #333;
  --placeholder-color: #999;
  padding-left: 10px !important;
}

.input_password {
  
}

.eye {
  font-size: 30px;
  padding-right: 8px;
}

.inp_pwd{
  border-radius: 8px;
  border: 1px solid #aaa;
  padding: 2px;
  width: 98%;
}
