ion-content {
  --background: #ecf0f1;
}

.welcome {
  color: #34495e;
  font-size: 18px;
  padding-bottom: 6px;
}

.username {
  color: #34495e;
  font-size: 24px;
  font-weight: 500;
}

ion-card {
  --background: #ffffff;
}

th {
  font-size: 14px;
  padding: 18px 12px;
  white-space: nowrap;
}

tr {
  // border-bottom: 1px solid #bbb;
}

td {
  // border: 1px solid green;
  padding: 8px 12px;
}

.line-odd {
  background-color: red;
}

.text_name {
  color: #444;
  font-size: 16px;
  font-weight: 600;
  margin-top: 6px;
}

.text_tree {
  color: #777;
  border-bottom: 1px solid #aaa;
  font-size: 14px;
  font-style: italic;
  font-weight: 500;
  padding-bottom: 12px;
}

ion-skeleton-text{
  height:14px;
}
