<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button><img src="assets/img/menu.svg" width="22"></ion-menu-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <!-- <div class="welcome">Welcome,</div>
  <div *ngIf="data.first_name" class="username">{{data.first_name}} {{data.last_name}}</div>
  <div *ngIf="!data.first_name" class="username">{{data.name}}</div>
  <ion-skeleton-text *ngIf="!data.name" animated style="height: 24px; width: 46%;"></ion-skeleton-text> -->

  <h3 style="color: #444;">Performance</h3>

  <ion-card>
    <ion-card-content class="ion-no-padding">
      <table width="100%">
        <thead style="background-color: #666;color: #eee;">
          <tr>
            <th align="left" (click)="sort_campaign()">
              Campaign
              <ion-icon *ngIf="sort=='campaign_asc'" name="caret-up"></ion-icon>
              <ion-icon *ngIf="sort=='campaign_desc'" name="caret-down"></ion-icon>
            </th>
            <th width="1" (click)="sort_view()">
              Views
              <ion-icon *ngIf="sort=='view_asc'" name="caret-up"></ion-icon>
              <ion-icon *ngIf="sort=='view_desc'" name="caret-down"></ion-icon>
            </th>
            <th width="1" (click)="sort_lead()">
              Leads
              <ion-icon *ngIf="sort=='lead_asc'" name="caret-up"></ion-icon>
              <ion-icon *ngIf="sort=='lead_desc'" name="caret-down"></ion-icon>
            </th>
            <th width="1" (click)="sort_conversion()">
              CR
              <ion-icon *ngIf="sort=='conversion_asc'" name="caret-up"></ion-icon>
              <ion-icon *ngIf="sort=='conversion_desc'" name="caret-down"></ion-icon>
            </th>
          </tr>
        </thead>
        <tbody *ngIf="loading">
          <tr>
            <td align="left">
              <ion-skeleton-text animated></ion-skeleton-text>
            </td>
            <td align="center">
              <ion-skeleton-text animated style="width:20px"></ion-skeleton-text>
            </td>
            <td align="center">
              <ion-skeleton-text animated style="width:20px"></ion-skeleton-text>
            </td>
            <td align="center">
              <ion-skeleton-text animated style="width:20px"></ion-skeleton-text>
            </td>
          </tr>
          <tr>
            <td align="left" colspan="4">
              <ion-skeleton-text animated></ion-skeleton-text>
            </td>
          </tr>
        </tbody>
        <tbody *ngFor="let db of data">
          <tr *ngIf="db.hide_in_app==0 && db.status=='active'">
            <td align="left">
              <div class="text_name">{{db.name}}</div>
            </td>
            <td *ngIf="!db.analytic.view">0</td>
            <td *ngIf="db.analytic.view">{{db.analytic.view}}</td>
            <td *ngIf="!db.analytic.lead">0</td>
            <td *ngIf="db.analytic.lead">{{db.analytic.lead}}</td>
            <td *ngIf="!db.analytic.conversion">0%</td>
            <td *ngIf="db.analytic.conversion">{{db.analytic.conversion}}%</td>
          </tr>
          <tr *ngIf="db.hide_in_app==0 && db.status=='active'">
            <td align="left" colspan="4">
              <div class="text_tree">{{db.additional.workspace_name}} > {{db.additional.team_name}} >
                {{db.additional.project_name}}</div>
            </td>
          </tr>
        </tbody>
      </table>
    </ion-card-content>
  </ion-card>
</ion-content>