ion-card-content ion-icon {
  font-size: 60px;
  margin: 30px 0 30px 0;
}

ion-label {
  // white-space: normal !important;
}

//-----
ion-fab,
ion-fab-button {
  border: 1px solid #999;
  border-radius: 50%;
}