<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-menu-button><img src="assets/img/menu.svg" width="22"></ion-menu-button>
		</ion-buttons>
		<ion-title>Content Hub</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>

	<ion-segment [(ngModel)]="sgm_content">
		<ion-segment-button value="image">
			<ion-label>Images</ion-label>
		</ion-segment-button>
		<ion-segment-button value="video">
			<ion-label>Videos</ion-label>
		</ion-segment-button>
		<ion-segment-button value="audio">
			<ion-label>Audio</ion-label>
		</ion-segment-button>
		<ion-segment-button value="file">
			<ion-label>Docs</ion-label>
		</ion-segment-button>
		<ion-segment-button value="web">
			<ion-label>Web</ion-label>
		</ion-segment-button>
	</ion-segment>

	<ion-card *ngIf="sgm_content!='web'">
		<ion-card-content class="ion-no-padding ion-padding-horizontal">
			<table width="100%">
				<tr>
					<td width="1">Workspace</td>
					<td>&nbsp;:</td>
					<td align="right">
						<ion-select [(ngModel)]="s_workspace" interface="popover" (ionChange)="select_ws()">
							<ion-select-option value="">All</ion-select-option>
							<ion-select-option *ngFor="let db of data_workspaces" value="{{db.id}}">{{db.name}}
							</ion-select-option>
						</ion-select>
					</td>
				</tr>
				<tr>
					<td>Team</td>
					<td>&nbsp;:</td>
					<td align="right">
						<ion-select [(ngModel)]="s_team" interface="popover" (ionChange)="select_tm()">
							<ion-select-option value="">All</ion-select-option>
							<ion-select-option *ngFor="let db of data_teams" class="ion-text-wrap" value="{{db.id}}">
								{{db.name}}
							</ion-select-option>
						</ion-select>
					</td>
				</tr>
			</table>
		</ion-card-content>
	</ion-card>

	<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" style="background-color:#ecf0f1;">
		<ion-refresher-content></ion-refresher-content>
	</ion-refresher>

	<ion-card *ngIf="uploading">
		<ion-card-content class="ion-no-padding">
			<div style="color:#666;font-style: italic;font-weight:600;">&nbsp;&nbsp; Uploading File {{prg}}%</div>
			<ion-progress-bar [value]="prg/100"></ion-progress-bar>
		</ion-card-content>
	</ion-card>

	<div *ngFor="let db of data_filtered">
		<ion-card *ngIf="db.type==sgm_content">
			<ion-card-content class="ion-no-padding">

				<div *ngIf="sgm_content=='image'">
					<img [src]="db.raw_url" width="100%" style="border-bottom: 1px solid #aaa;">
				</div>
				<video *ngIf="sgm_content=='video'" width="100%" controls>
					<source [src]="db.raw_url" type="video/mp4">
				</video>
				<audio *ngIf="sgm_content=='audio'" controls style="background-color: #f2f2f2;width:100%">
					<source [src]="db.raw_url" type="audio/mpeg">
				</audio>
				<div *ngIf="sgm_content=='file'" class="ion-padding ion-text-center"
					style="border-bottom: 1px solid #aaa;">
					<ion-icon name="document-text"></ion-icon>
				</div>
				<div *ngIf="sgm_content=='web'" class="ion-padding ion-text-center"
					style="border-bottom: 1px solid #aaa;">
					<ion-icon name="globe"></ion-icon>
				</div>

			</ion-card-content>
			<ion-card-content style="padding:0">
				<ion-item lines="none">
					<ion-label *ngIf="sgm_content!='web'" style="font-weight: 600;">{{db.name}}</ion-label>
					<ion-label *ngIf="sgm_content=='web'" style="font-weight: 600;">{{db.url}}</ion-label>
					<!-- <ion-icon name="trash" slot="end" (click)="delete(db.id)"
            style="color:#777;font-size: 28px;margin:0 0 0 12px;"></ion-icon>
          <ion-icon *ngIf="sgm_content!='web'" name="archive" slot="end" (click)="open_document(db.raw_url,db.name)"
            style="color:#777;font-size: 28px;margin:0 0 0 10px;"></ion-icon>
          <ion-icon *ngIf="sgm_content=='web'" name="open-outline" slot="end" (click)="open_browser(db.url)"
            style="color:#777;font-size: 28px;margin:0 0 0 10px;"></ion-icon>
          <ion-icon name="share-social" slot="end" (click)="share(db.id,db.raw_url)"
            style="color:#777;font-size: 28px;margin:0 0 0 10px;"></ion-icon> -->

					<ion-icon *ngIf="sgm_content!='web'" name="menu" slot="end"
						(click)="menu(db.id,db.name,db.raw_url,'')"
						style="color:#777;font-size: 28px;margin:0 0 0 10px;"></ion-icon>
					<ion-icon *ngIf="sgm_content=='web'" name="menu" slot="end"
						(click)="menu(db.id,db.name,db.url,'web')"
						style="color:#777;font-size: 28px;margin:0 0 0 10px;"></ion-icon>
				</ion-item>
			</ion-card-content>
		</ion-card>
	</div>

	<div *ngIf="loading">
		<ion-card>
			<ion-card-content class="ion-no-padding">
				<ion-skeleton-text animated style="height:210px" class="ion-no-margin"></ion-skeleton-text>
			</ion-card-content>
		</ion-card>
		<ion-card>
			<ion-card-content class="ion-no-padding">
				<ion-skeleton-text animated style="height:210px" class="ion-no-margin"></ion-skeleton-text>
			</ion-card-content>
		</ion-card>
		<ion-card>
			<ion-card-content class="ion-no-padding">
				<ion-skeleton-text animated style="height:210px" class="ion-no-margin"></ion-skeleton-text>
			</ion-card-content>
		</ion-card>
	</div>

	<div style="height: 56px;"></div>

	<ion-fab *ngIf="sgm_content!='web'" vertical="bottom" horizontal="end" slot="fixed">
		<ion-fab-button color="light">
			<ion-icon name="add"></ion-icon>
		</ion-fab-button>
		<ion-fab-list side="top">

			<ion-fab-button *ngIf="sgm_content=='image'" (click)="upload_galeri()">
				<ion-icon name="images"></ion-icon>
			</ion-fab-button>

			<ion-fab-button *ngIf="sgm_content=='image'" (click)="upload_camera()">
				<ion-icon name="camera"></ion-icon>
			</ion-fab-button>

			<ion-fab-button *ngIf="sgm_content!='image'" (click)="upload_all()">
				<ion-icon name="folder"></ion-icon>
			</ion-fab-button>

			<ion-fab-button *ngIf="sgm_content=='video'" (click)="upload_video()">
				<ion-icon name="videocam"></ion-icon>
			</ion-fab-button>

			<ion-fab-button *ngIf="sgm_content=='audio'" (click)="upload_audio()">
				<ion-icon name="mic"></ion-icon>
			</ion-fab-button>

		</ion-fab-list>
	</ion-fab>
</ion-content>