<ion-content class="ion-text-center">
    <div class="bg">
        <div style="height: 160px;">
            <span style=" display: inline-block; height: 100%; vertical-align: middle;"></span>
            <img class="ion-margin" [src]="logo" width="102" style="margin: 40px 0 12px 0;vertical-align:middle;">
        </div>

        <ion-card color="primary" *ngIf="card_signin">
            <ion-card-header class="ion-text-center">
                <ion-card-title style="font-size: 24px;font-weight:500;padding-top: 8px;">Login</ion-card-title>
            </ion-card-header>

            <ion-card-content>
                <form [formGroup]="form_signin">
                    <ion-item class="ion-no-padding" color="primary">
                        <ion-icon name="mail" slot="start" style="font-size: 24px;"></ion-icon>
                        <ion-input type="email" formControlName="email" placeholder="Email"></ion-input>
                    </ion-item>
                    <ion-item class="ion-no-padding" color="primary">
                        <ion-icon name="lock-closed" slot="start" style="font-size: 24px;"></ion-icon>

                        <table>
                            <tr>
                                <td>
                                    <ion-input class="input_password" type="{{input_type}}" formControlName="password"
                                        placeholder="Password">
                                    </ion-input>
                                </td>
                                <td style="background-color: #fff;border-radius: 0 6px 6px 0;padding-top:5px;">
                                    <ion-icon *ngIf="show_pass==false" class="eye" name="eye" slot="end" color="medium"
                                        (click)="eye_clicked()">
                                    </ion-icon>
                                    <ion-icon *ngIf="show_pass==true" class="eye" name="eye-off" slot="end"
                                        color="medium" (click)="eye_clicked()"> </ion-icon>
                                </td>
                            </tr>
                        </table>
                    </ion-item>

                    <ion-item class="ion-no-padding" color="primary" lines="none">
                        <ion-button color="light" slot="start" fill="clear" routerLink="/password-reset">Forgot your
                            password?
                        </ion-button>
                        <ion-button color="light" slot="end" class="ion-no-margin btn_login" shape="round"
                            (click)="submit_login()" [disabled]="loading_submit">
                            <ion-spinner *ngIf="loading_submit" color="dark" name="crescent" style="font-size: 66px;">
                            </ion-spinner>
                            <div *ngIf="!loading_submit">Login</div>
                        </ion-button>
                    </ion-item>

                    <!-- <ion-button class="ion-text-center ion-no-margin" color="light" slot="start" fill="clear"
style="margin-top: 16px;" (click)="card_signin=false;card_signup=true;anim='animated pulse faster'">
Register
</ion-button> -->

                </form>
            </ion-card-content>
        </ion-card>

        <ion-card color="primary" *ngIf="card_signup" [class]="anim">
            <ion-card-header class="ion-text-center">
                <ion-card-title style="font-size: 24px;font-weight:500;padding-top: 8px;">Register</ion-card-title>
            </ion-card-header>

            <ion-card-content>
                <form [formGroup]="form_signup">
                    <ion-item class="ion-no-padding" color="primary">
                        <ion-icon name="person" slot="start" style="font-size: 24px;"></ion-icon>
                        <ion-input type="text" formControlName="email" placeholder="Name"></ion-input>
                    </ion-item>

                    <ion-item class="ion-no-padding" color="primary">
                        <ion-icon name="mail" slot="start" style="font-size: 24px;"></ion-icon>
                        <ion-input type="email" formControlName="email" placeholder="Email"></ion-input>
                    </ion-item>

                    <ion-item class="ion-no-padding" color="primary">
                        <ion-icon name="lock" slot="start" style="font-size: 24px;"></ion-icon>
                        <ion-input class="input_password" type="{{input_type}}" formControlName="password"
                            placeholder="Password">
                        </ion-input>
                        <ion-icon *ngIf="show_pass==false" class="eye" name="eye" slot="end" color="medium"
                            (click)="eye_clicked()">
                        </ion-icon>
                        <ion-icon *ngIf="show_pass==true" class="eye" name="eye-off" slot="end" color="medium"
                            (click)="eye_clicked()"> </ion-icon>
                    </ion-item>

                    <ion-item class="ion-no-padding" color="primary">
                        <ion-icon name="lock" slot="start" style="font-size: 24px;"></ion-icon>
                        <ion-input class="input_password" type="{{input_type}}" formControlName="password"
                            placeholder="Confirm Password">
                        </ion-input>
                        <ion-icon *ngIf="show_pass==false" class="eye" name="eye" slot="end" color="medium"
                            (click)="eye_clicked()">
                        </ion-icon>
                        <ion-icon *ngIf="show_pass==true" class="eye" name="eye-off" slot="end" color="medium"
                            (click)="eye_clicked()"> </ion-icon>
                    </ion-item>

                    <ion-item class="ion-no-padding" color="primary">
                        <ion-button color="light" slot="start" fill="clear"
                            (click)="card_signin=true;card_signup=false;anim='animated pulse faster'">
                            Login?
                        </ion-button>
                        <ion-button color="light" slot="end" class="ion-no-margin btn_login" shape="round"
                            (click)="submit_login()" [disabled]="loading_submit">
                            <ion-spinner *ngIf="loading_submit" color="dark" name="crescent" style="font-size: 66px;">
                            </ion-spinner>
                            <div *ngIf="!loading_submit">Register</div>
                        </ion-button>
                    </ion-item>
                </form>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>