<ion-header>
  <ion-toolbar>
    <ion-title>share</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label>Project</ion-label>
    <ion-select interface="popover" placeholder="Select Project">
      <ion-select-option *ngFor="let db of data_project" value="{{db.id}}">{{db.name}}</ion-select-option>
    </ion-select>
  </ion-item>
</ion-content>