<ion-header>
  <ion-toolbar>
    <ion-title>Contacts</ion-title>
    <ion-icon slot="end" name="close" style="font-size: 24px;" (click)="close()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content style="--background:#fff">
  <ion-searchbar [(ngModel)]="mdl_cari" (ionChange)="load_data($event)"></ion-searchbar>

  <div *ngIf="loading">
    <ion-skeleton-text animated style="border-radius:8px;height:84px;margin-bottom:1px"></ion-skeleton-text>
    <ion-skeleton-text animated style="border-radius:8px;height:84px;margin-bottom:1px"></ion-skeleton-text>
    <ion-skeleton-text animated style="border-radius:8px;height:84px;margin-bottom:1px"></ion-skeleton-text>
    <ion-skeleton-text animated style="border-radius:8px;height:84px;margin-bottom:1px"></ion-skeleton-text>
    <ion-skeleton-text animated style="border-radius:8px;height:84px;margin-bottom:1px"></ion-skeleton-text>
    <ion-skeleton-text animated style="border-radius:8px;height:84px;margin-bottom:1px"></ion-skeleton-text>
  </div>

  <ion-item *ngFor="let db of data">
    <ion-avatar slot="start">
      <img src="assets/img/nophoto.png" style="border: 1px solid #bbb;">
    </ion-avatar>
    <ion-label>
      <div style="color: #555;font-size: 16px;font-weight: 500;margin-bottom:4px;">{{db.first_name}} {{db.last_name}}
      </div>
      <div style="color: #777;font-size: 14px;margin-bottom:4px;">{{db.email}}</div>
      <div style="color: #777;font-size: 14px;margin-bottom:4px;">{{db.phone}}</div>
    </ion-label>
    <ion-icon name="share-social" slot="end" (click)="share(db.id)" style="color: #555 !important;">
    </ion-icon>
  </ion-item>
</ion-content>